.InicioAdmin {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.ContendAdminPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContendAdminPage__box {
  background-color: white;
  padding: 3rem;
}
