.logo {
  width: 300px;
}
.container2 {
  background-color: rgb(253, 253, 253);
  width: 60%;
  margin: 0 auto;
}
.container2 form {
  width: 100%;
  font-size: 2rem;
}
.container2 form label {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container2 form select {
  padding: 1rem;
  margin-left: 1rem;
  background-color: rgb(38, 116, 90);
  color: white;
}
