.container1 {
  background: linear-gradient(
    135deg,
    #0bc57e98,
    #7b9fec
  ); /* Degradado de colores */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-group1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .image-group1 {
    background-color: rgba(196, 193, 194, 0);
  }
}

.side-image1 {
  width: 100%; /* Ajusta el tamaño según sea necesario */
  max-width: 280px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
  margin: 80px;
  box-sizing: border-box;
  display: flex;
}

.side-image1:hover {
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el cursor */
  filter: drop-shadow(0 0 5em #10021af5);
  border-radius: 30px;
}

@media (max-width: 768px) {
  .side-image1 {
    width: 80%; /* Ajusta el tamaño de las imágenes en pantallas más pequeñas */
    max-width: 80%;
    height: auto;
    margin: 10px;
  }
}
