.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacion__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.navegacion__listItem {
  background-color: white;
  width: 100px;
  text-align: center;
  padding: 9px 14px;
  border-radius: 8px;
  box-shadow: 6px 7px 8px #188f87;
  cursor: pointer;
}
.navegacion__listItem a {
  color: black;
}
