html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 65.2%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: space-evenly;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1301px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yandri {
  display: flex;
}

.custom-button {
  padding: 20px 70px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2px;
}

.custom-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.custom-button:active {
  background-color: #388e3c;
  transform: translateY(1px);
}

.custom-button.disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}
